#useDynLib(iwtp)

export(resam)
export(iwtp)
export(QQplot)
export(esfPlot)
export(iwtp.esf)

##
S3method(print,iwtp.interv)
S3method(print,iwtp)
S3method(print,iwtp.resam.wb)
S3method(print,iwtp.resam.wemix)
S3method(plot,iwtp.resam.wb)
S3method(plot,iwtp.resam.wemix)
S3method(QQplot,iwtp.resam)
S3method(esfPlot,iwtp)
S3method(esfPlot,iwtp.esf)
S3method(plot,iwtp)
S3method(plot,interv)


